.main-button {
    font-family: Raleway;
    background-color: $clr6;
    font-size: rem(16px);
    font-weight: 700;
    border-radius: 28px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
    width: 280px;
    height: 56px;
}