// Font Sizes
.fs12 {
  font-size: rem(12px);
}
.fs14 {
  font-size: rem(14px);
}
.fs16 {
  font-size: rem(16px);
}
.fs18 {
  font-size: rem(18px);
}
.fs20 {
  font-size: rem(20px);
}
.fs24 {
  font-size: rem(24px);
}
.fs28 {
  font-size: rem(28px);
}
.fs30 {
  font-size: rem(30px);
}

// flex helpers

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.full {
  flex: 1;
}

// view helpers

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.grid {
  display: grid;
}

.overflow {
  overflow: auto;
}

// Media helpers

.square-ratio {
  @include aspect-ratio(1, 1);
}
