// Colors
// intro and email sign up background
$clr1: hsl(217, 28%, 15%);
// main background
$clr2: hsl(218, 28%, 13%);
// footer background
$clr3: hsl(216, 53%, 9%);
// testimonials background
$clr4: hsl(219, 30%, 18%);
// inside call-to-action gradient
$clr5: hsl(176, 68%, 64%);
// inside call-to-action gradient
$clr6: hsl(198, 60%, 50%);
// neutral
$clr7:hsl(0, 0%, 100%);

// Breakpoints
$mobile-breakpoint: 375px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1440px;